* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
}

.App-menu .active {
  color: blue;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.App-header {
  background-color: white;
  border-bottom: 2px solid #F8F8F8
}

.App-header-top {
  display: flex;
  align-items: center;
}

.App-name {
  margin-left: 5px;
}

.App-infos {
  margin-left: auto;
}

.App-logo img {
  width: 100px;
}

.App-menu {
  padding: 20px 0;
}

.App-menu a {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.5s color ease-out;
}

.App-menu a:hover, .App-menu a:focus {
  color: blue;
}

.App-main {
  display: flex;
}

.App-catalog {
  flex: 1; /* ctas is zero, so this one will take all available space */
  max-width: 1200px;
}

.App-catalog-row {
  display: flex;
}

.App-item {
  margin: 10px;
}

.App-item-image {
  width: 100%;
}

.App-item-desc {
  /*transition: 0.1s opacity ease-out;*/
}

.App-item-title {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 0;
  color: black;
}

.App-item-button {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 0;
  color: darkviolet;
}

.App-ctas {

}

.App-blog-header {
  font-family: Georgia;
  font-weight: 500;
  border-bottom: 1px solid #F8F8F8;
}

.App-post-title {
  font-weight: 500;
}

@media (max-width: 700px) {
  .App-ctas {
    display: none;
  }

  .App-item {
    margin: 0;
  }

  .App-item-desc {
    display: none;
  }
}


